body {
	color: white;
	background: black;
}

h1 {
	padding: 40px;
}

h1, h2 {
	text-align: center;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

nav {
	position: fixed;
	top: 0;
	width: 100%;
	height: auto;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	min-width: 550px;
	background-color: black;
	opacity: 0.8;
	height: 100%;
}

nav li {
	float: left;
}

nav a, .logo {
	display: flex;
	color: white;
	justify-content: center;
	align-items: center;
	padding: 14px 16px;
	height: 40px;
}

nav li:last-child {
	float: right;
}

nav a:hover {
	background-color: gray;
}
